<h1><%= @user.name %></h1>
<%= @user.email %> | Phone Number
<div class="item_gallery">

<link_to "User Items", users_items_show %><br>
<%= @user.items.each do |i| %>
<div class="item">
<h1><%= @item.name %></h1>
<%= image_tag @item.image.url(:medium) %>
<p><%= @item.description %></p>
<p>Available Check Box</p>
<p>Comments will go down below</p>
<% end %>
</div>




</div>
<p>Find me in app/views/users/show.html.erb</p>
